*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 100%;
    padding: 2rem;
}

.strategic{
    background-color: pink;
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
    border: solid black;
}

.cards .card{
    background-color: coral;
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;
    border: solid black;
}

.demo{
    width: 90%;
    height: calc(100%/2);
    border: solid black;
    background-color: magenta;
    margin: 0 auto;
}

.paragraph{
    width: 100%;
    height: 600px;
    border: solid black;
    background-color: orange;
    margin-top: 3rem;
}

.image{
    width: 100%;
    height: 300px;
    background-color: darkseagreen;
    border: solid black;
}

.free{
    width: 100%;
    height: 400px;
    background-color: aqua;
    border: solid black;
}

.text{
    width: 100%;
    height: 200px;
    background-color: fuchsia;
    border: solid white;
}

body{
    font-family: 'Nunito Sans', sans-serif;
}

header{
    width: 100%;
    height: 100px;
    background-color: #0084fd;
}

header div,nav{
    height: 100%;
    width: 100px;
    background-color: blueviolet;
    border: solid black;
}

section#planning{
    width: 100%;
    background-color: #9792e4;
}

section#partners .card{
    background-color: #9792e4;
}

section#workings{
    width: 100%;
    background-color: #9792e4;
}

section#workings .card{
    background-color: white;
    height: 400px;
}

section#started{
    width: 100%;
    background-color: #9792e4;
}

section#piè{
    width: 100%;
    background-color:#333333;
}


/* RESPONSIVE */

/* TABLET */
@media screen and (min-width:768px){
    header{
        width: 100%;
        height: 100px;
        background-color: #0084fd;
    }

    header div,nav{
        height: 100%;
        width: 150px;
        background-color: lightgreen;
        border: solid black;
    }

    
    .container{
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .cards .card:first-child{
        width: calc((100%/3)*2);
    }
    
    .cards .card{
        background-color: violet;
        width: calc(100%/3);
        height: 300px;
        margin-bottom: 2rem;
        border: solid black;
    }

    .demo{
        width: 90%;
        height: calc(100%/2);
        border: solid black;
        background-color: red;
        margin: 0 auto;
    }
    

    .strategic{
        background-color:crimson;
        width: 100%;
        height: 250px;
        margin-bottom: 2rem;
        border: solid black;
    }

    .other{
        display: flex;
    }
    

    .paragraph{
        width: 55%;
        height: 500px;
        border: solid black;
        background-color: red;
        margin-top: 3rem;
    }
    .image{
        width: 45%;
        height: 500px;
        background-color: salmon;
        border: solid black;
        margin-top: 3rem;
    }

    .free{
        width: 100%;
        height: 500px;
        background-color:deeppink;
        border: solid black;
    }

    .text{
        width: 100%;
        height: 200px;
        background-color:limegreen;
        border: solid white;
    }

    section#partners .cards{
        flex-direction: column;
    }

    section#partners .card{
        width: 100%;
        height: 180px;
    }

    section#workings .cards{
        display: flex;
        flex-wrap: wrap;
    }

    section#workings .card{
        width: calc(100%/2);
        height: 250px;
    }
}


/* DESKTOP */
@media screen and (min-width:992px){
    header{
        width: 100%;
        height: 100px;
        background-color: #0084fd;
    }

    header div{
        height: 100%;
        width: 30%;
        background-color: yellow;
        border: solid black;
    }

    header nav{
        height: 100%;
        width: 52%;
        background-color: yellow;
        border: solid black;
    }

    .container{
        width: 950px;
        padding: 2rem;
        margin: 0 auto;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .cards .card:first-child{
        width: calc((100%/3)*2);
        display: flex;
    }
    
    .cards .card{
        background-color:darkred;
        width: calc(100%/3);
        height: 300px;
        margin-bottom: 2rem;
        border: solid black;
    }

    .demo{
        width: 50%;
        height: 90%;
        border: solid black;
        background-color: greenyellow;
        margin-top: 1rem;
    }
    

    .strategic{
        background-color: pink;
        width: calc(100%/2);
        height: 500px;
        margin-bottom: 1rem;
        margin-top: 3rem;
        border: solid black;
    }

    .development{
        display: flex;
    }

    .other{
        display: flex;
    }
    

    .paragraph{
        width: 70%;
        height: 500px;
        border: solid black;
        background-color:chartreuse;
        margin-top: 3rem;
    }
    .image{
        width: 30%;
        height: 500px;
        background-color:aquamarine;
        border: solid black;
        margin-top: 3rem;
    }

    .free{
        width: 100%;
        height: 500px;
        background-color:khaki;
        border: solid black;
    }

    .text{
        width: 100%;
        height: 200px;
        background-color:gold;
        border: solid white;
    }

    section#partners .cards{
        flex-direction: column;
    }

    section#partners .card{
        width: 100%;
        height: 250px;
    }

    section#workings .cards{
        display: flex;
        flex-wrap: wrap;
    }

    section#workings .card{
        width: calc(100%/3);
        height: 300px;
    }
}