*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --header-bg-color:#0084fd ;
    --card-bg-color:#b5ddff;
    --h2-color:#0888fd;
    --button-bg-color:#0084fd ;
    --bg-color-lille:#9792e4;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 100%;
    padding: 2rem;
}

.strategic{
    width: 100%;
    margin-bottom: 1rem;
}

.cards .card{
    background-color: var(--card-bg-color);
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 20px;
}

.demo{
    width: 90%;
    margin: 0 auto;
}

.paragraph{
    width: 100%;
    background-color:white;
    margin-top: 3rem;
}

.image{
    width: 100%;
}

.free{
    width: 100%;
    height: 400px;
    background-color: aqua;
    border: solid black;
}

.text{
    width: 100%;
    height: 200px;
    background-color: fuchsia;
    border: solid white;
}

.button-blue{
    color: white;
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 20px;
    padding: .3rem 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: center;

}
.images{
    width: 200px;       
}
.align{
    vertical-align: super;
}
.blue{
    width: 100px;
    margin-top: 2rem;
}

.small-container{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.small{
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
.struttura{
    text-align: center;
    color: var(--h2-color);
    padding-top: 1rem;
    margin-bottom: 2rem;
}

.fa-solid{
    margin-top: 2rem;
    color: var(--h2-color);
    font-size: 7rem;
}

.fa-arrow-down{
    font-size: 2rem;
    color: black;
    text-align: center;

}
.cerchio{
    background-color: var(--bg-color-lille);
    border-radius: 100%;
    text-align: center;
    width: 80px;
    margin-left: 8rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.get{
    font-size: .1.7rem;
    line-height: 1.5;
    padding-bottom: 2rem;
    text-align: center;
}

.test{
    text-align: center;
    width: 100%;
}

.dimension{
    width: 100%;
    padding-bottom: 2rem;
}

.planning2{
    width: 100%;
    background-color: white;
    border-radius: 80px;
    text-align: center;
}

.titolo{
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.lorem{
    color: white;
    line-height: 2;
    font-size: 1rem;
}

.column{
    flex-direction: column;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}

header{
    width: 100%;
    height: 100px;
    background-color: var(--header-bg-color);
}

header div,nav{
    width: 30%;
}

header img{
    width: 60%;
    margin: 2rem;
}

header nav img{
    width: 40%;
    margin: 1.5rem 1rem;
    filter: invert(1);
}

header nav ul{
    display: none;
}

section#planning{
    width: 100%;
    background-color: #9792e4;
}

section#partners .card{
    background-color: #9792e4;
}

section#workings{
    width: 100%;
    background-color: #9792e4;
}

section#workings .card{
    background-color: white;
}

section#started{
    width: 100%;
    background-color: #9792e4;
}

section#piè{
    width: 100%;
    background-color:#333333;
}
section#introduction .small .apple{
    width: 20px;
    filter: invert(1);
}

section#introduction .small-container p{
    font-size: 1.2rem;
    line-height: 1.5;
}

section#planning .planning2 h2{
    margin-bottom: 2rem;
}

section#planning .planning2 p{
    line-height: 1.7;
    font-size: 1.2rem;
}
p:first-child{
    text-align: center;
    font-size: .1.7rem;
    line-height: 1.5rem;
    padding-bottom: 2rem;
}




section#partners .cards .card:first-child{
    background-color: white;
}

section#partners .cards .card h3{
    font-size: 2rem;
    color: var(--bg-color-lille);   
    margin-bottom: 2rem;
}

section#partners .cards .card p{
    line-height: 2;
    font-size: 1.3rem;
}

.testimonial{
    text-align: center;
    margin-top: 2rem ;
    margin-bottom: 3rem;
}

.radius{
    border-radius: 100%;    
    width: 200px;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.descrizione{
    color: white;
    margin-top: 1rem;
    padding-bottom: 1rem;
}


h2:first-child{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color:var(--h2-color)
}

section#workings h3{
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 3rem;
}

section#workings h4{
    font-size: 4rem;
    padding-top: 2rem;
    color:var(--bg-color-lille);
}

section#workings h5{
    font-size: 2rem;
    padding-top: 2rem;
    color:var(--bg-color-lille);
}

section#workings p{
    font-size: 1rem;
    line-height: 2;
    padding-top: 2rem;
    color:black;
}
.number{
    width: 80%;
    margin: 0 auto;
}

.lille{
    border: none;
    border-radius: 20px;
    background-color: var(--bg-color-lille);
    color: white;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}

section#about-as h3{
    font-size: 2rem;
    padding-top: 2rem;
    color:var(--bg-color-lille);
}

section#about-as p{
    font-size: 1rem;
    line-height: 2;
    padding-top: 2rem;
    color: black;
    padding-bottom: 2rem;
}

section#about-as article{
    font-size: 2rem;
    line-height: 1.5;
    padding-top: .5rem;
    color: var(--bg-color-lille);
    padding-bottom: 2rem;
}


/* RESPONSIVE */

/* TABLET */
@media screen and (min-width:768px){
    header{
        width: 100%;
        height: 100px;
        background-color: #0084fd;
    }

    header div,nav{
        width: 30%;
    }

    header img{
        width: 30%;
        margin: 2rem;
    }
    
    header nav img{
        width: 20%;
        margin: 1rem 11rem;
        filter: invert(1);
    }

    
    .container{
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
    }

    

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cards .card:first-child{
        width: calc(((100% - 2rem) / 3) * 2);
    }
    
    .cards .card{
        background-color: violet;
        width: calc((100% - 2rem) / 3);
        background-color: var(--card-bg-color);
    }

    .small {
        width: 80%;
        margin: 0 auto;
        text-align: left;
    }

    section#introduction h2 {   
        color: var(--h2-color);
        padding-top: 1rem;
        margin-bottom: 2rem;
    }
    .get{
        font-size: .1.7rem;
        line-height: 1.5;
        padding-bottom: 2rem;
        text-align: center;
    }

    p:first-child{
        text-align: left;
        font-size: .1.7rem;
        line-height: 1.5rem;
        padding-bottom: 2rem;
    }

    h2:first-child{
        text-align: left;
    }

    .demo{
        width: 90%;
        height: calc(100%/2);
        border: solid black;
        background-color: red;
        margin: 0 auto;
    }
    

    .strategic{
        width: 100%;
        margin-bottom: 2rem;
    }

    .other{
        display: flex;
    }
    

    .paragraph{
        width: 55%;
        margin-top: 3rem;
    }
    .image{
        width: 45%;
        margin-top: 3rem;
    }

    .free{
        width: 100%;
        height: 500px;
        background-color:deeppink;
        border: solid black;
    }

    .text{
        width: 100%;
        height: 200px;
        background-color:limegreen;
        border: solid white;
    }

    section#partners .cards{
        flex-direction: column;
    }

    section#partners .card{
        width: 100%;
        
    }


    section#workings .cards{
        display: flex;
        flex-wrap: wrap;
    }

    section#workings .card{
        width: calc((100% - 2rem) / 2);
    }
    
    .test{
        text-align: center;
        width: 100%;
    }

    .dimension{
        width: 100%;
        padding-bottom: 2rem;
    }

    .planning2{
        width: 100%;
        background-color: white;
        border-radius: 80px;
        text-align: center;
    }

    .titolo{
        color: white;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 4rem;
        text-align: left;
    }

    .lorem{
        color: white;
        line-height: 2;
        font-size: 1rem;
        text-align: left;
    }

    section#planning .planning2 h2{
        margin-bottom: 2rem;
    }

    section#planning .planning2 p{
        line-height: 1.7;
        font-size: 1.2rem;
    }

    .cerchio{
        background-color: var(--bg-color-lille);
        border-radius: 100%;
        text-align: center;
        width: 80px;
        margin-left: 26rem;
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    section#partners .cards .card:first-child{
    background-color: white;
}

section#partners .cards .card h3{
    font-size: 2rem;
    color: var(--bg-color-lille);   
    margin-bottom: 2rem;
}

section#partners .cards .card p{
    line-height: 2;
    font-size: 1.3rem;
}

.testimonial{
    text-align: center;
    margin-top: 2rem ;
    margin-bottom: 3rem;
}

.radius{
    border-radius: 100%;    
    width: 200px;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.descrizione{
    color: white;
    margin-top: 1rem;
    padding-bottom: 1rem;
}


    h2:first-child{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        color:var(--h2-color)
    }



    section#partners .cards .card:first-child{
        background-color: white;
    }
    
    section#partners .cards .card h3{
        font-size: 2rem;
        color: var(--bg-color-lille);   
        margin-bottom: 2rem;
    }
    

    
    .testimonial{
        text-align: center;
        margin-top: 2rem ;
        margin-bottom: 3rem;
    }
    
    .radius{
        border-radius: 100%;    
        width: 200px;
        overflow: hidden;
        margin-top: 3rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        
    }
    .descrizione{
        color: white;
        margin-top: .5rem;
        padding-bottom: 1rem;
    }
    
    
    h2:first-child{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        color:var(--h2-color)
    }

    .test {
        text-align: center;
        display: flex   ;
        width: 100%;
    }

    .column{
        flex-direction: column;
    }

    .nome{
        text-align: center;
        line-height: 2;
        font-size: 1.3rem;
    }

    .biografia{
        line-height: 2;
        font-size: 1.3rem;
        padding-top: 2rem;
        text-align: left;
    }



    section#workings h3{
        text-align: center;
        font-size: 2rem;
        color: white;
        margin-bottom: 3rem;
    }
    
    section#workings h4{
        font-size: 4rem;
        padding-top: 2rem;
        color:var(--bg-color-lille);
    }
    
    section#workings h5{
        font-size: 2rem;
        padding-top: 2rem;
        color:var(--bg-color-lille);
    }
    
    section#workings p{
        font-size: 1rem;
        line-height: 2;
        padding-top: 2rem;
        color:black;
    }
    .number{
        width: 80%;
        margin: 0 auto;
    }
    
    .lille{
        border: none;
        border-radius: 20px;
        background-color: var(--bg-color-lille);
        color: white;
        padding: .5rem 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-align: center;
    }
    


}

/* DESKTOP */
@media screen and (min-width:992px){
    header{
        width: 100%;
        height: 100px;
        background-color: #0084fd;
    }

    header div{
        width: 30%;
    }

    header nav{
        height: 100%;
        width: 52%; 
    }

    header img{
        width: 80px;
        margin-left: 70%;
    }
    
    header nav img{
        display: none;
    }

    
    header nav ul{
    list-style-type: none;
    display: inline-flex;
    padding-left: 2rem;
    }

    header nav ul li{
        padding-left: 1rem;
        padding-top: 2rem;
        color: white;
    }

    header nav ul li button{
        background-color: white;
        color: black;
        border-radius: 20%;
        padding: .5rem;
        border: none;
        
    }

    
    .container{
        width: 950px;
        padding: 2rem;
        margin: 0 auto;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .cards .card:first-child{
        width: calc(((100% - 2rem) / 3) * 2);
        display: flex;
    }
    
    .cards .card{
        background-color:var(--card-bg-color);
        width: calc((100% - 2rem) / 3);
        margin-bottom: 2rem;    
    }

    .small {
        width: 45%;
        margin: 0 auto;
        text-align: left;
    }

    .fa-solid{
        margin-top: 2rem;
        font-size: 5rem;
    }

    section#introduction h2 {   
        color: var(--h2-color);
        padding-top: 1rem;
        margin-bottom: 2rem;
    }

    h2:first-child{
        text-align: left;
    }

    .small-container{
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    
    section#introduction .small-container p{
        font-size: 0.8rem;
        line-height: 1.8;
    } 

    .images{
        width: 200px;
        padding-top: 4.8rem;       
    }

    .desktop{
        line-height: 2;
        font-size: 0.8rem;

    }
    .demo{
        width: 50%;
        height: 90%;
        border: solid black;
        background-color: greenyellow;
        margin-top: 1rem;
    }
    

    .strategic{
        width: calc(100%/2);    
        margin-bottom: 1rem;
        margin-top: 3rem;
    }

    .development{
        display: flex;
    }

    .other{
        display: flex;
    }
    

    .paragraph{
        width: 70%;
        margin-top: 3rem;
    }
    .image{
        width: 30%;
        margin-top: 3rem;
    }

    .free{
        width: 100%;
        height: 500px;
        background-color:khaki;
        border: solid black;
    }

    .text{
        width: 100%;
        height: 200px;
        background-color:gold;
        border: solid white;
    }

    section#partners .cards{
        flex-direction: column;
    }

    section#partners .card{
        width: 100%;
        height: 250px;
    }

    section#workings .cards{
        display: flex;
        flex-wrap: wrap;
    }

    section#workings .card{
        width: calc((100% - 2rem)/3);
    }

    .test{
        text-align: center;
        width: 100%;
    }

    .dimension{
        width: 100%;
        padding-bottom: 2rem;
    }

    .planning2{
        width: 100%;
        background-color: white;
        border-radius: 80px;
        text-align: center;
    }

    .titolo{
        color: white;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 2rem;
        text-align: left;
    }

    .lorem{
        color: white;
        line-height: 2;
        font-size: 1rem;
        text-align: left;
    }

    section#planning .planning2 h2{
        margin-bottom: 2rem;
    }

    section#planning .planning2 p{
        line-height: 1.7;
        font-size: 1.2rem;
    }

    .cerchio{
        background-color: var(--bg-color-lille);
        border-radius: 100%;
        text-align: center;
        width: 100px;
        margin-left: 11rem;
        margin-top: 2rem;
        padding-bottom: 1rem;
    }

    .testimonial{
        text-align: center;
        margin-top: 2rem ;
        margin-bottom: 3rem;
    }
    
    .radius{
        border-radius: 100%;    
        width: 200px;
        overflow: hidden;
        margin-top: 3rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        
    }
    .descrizione{
        color: white;
        margin-top: .5rem;
        padding-bottom: 1rem;
    }
    
    
    h2:first-child{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        color:var(--h2-color)
    }

    .test {
        text-align: center;
        display: flex   ;
        width: 100%;
    }

    .column{
        flex-direction: column;
    }

    .nome{
        text-align: left;
        line-height: 2;
        font-size: 1.3rem;
        margin-left: 14rem  
    }

    .biografia{
        line-height: 2;
        font-size: 1.3rem;
        padding-top: 2rem;
        text-align: left;
    }

    section#workings h3{
        text-align: center;
        font-size: 2rem;
        color: white;
        margin-bottom: 3rem;
    }
    
    section#workings h4{
        font-size: 4rem;
        padding-top: 2rem;
        color:var(--bg-color-lille);
    }
    
    section#workings h5{
        font-size: 1.5rem;
        padding-top: 2rem;
        color:var(--bg-color-lille);
    }
    
    section#workings p{
        font-size: 1rem;
        line-height: 2;
        padding-top: 2rem;
        color:black;
    }
    .number{
        width: 80%;
        margin: 0 auto;
    }
    
    .lille{
        border: none;
        border-radius: 20px;
        background-color: var(--bg-color-lille);
        color: white;
        padding: .5rem 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-align: center;
    }

    section#about-as article{
        font-size: 1.5rem;
        line-height: 1.5;
        padding-top: .5rem;
        color: var(--bg-color-lille);
        padding-bottom: 2rem;
    }
    
    
}